* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.input-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 7px;
}

a {
    background-color: #010a43;
    color: wheat;
    margin: 20px 50px;
    padding: 7px 30px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

button {
    background-color: #010a43;
    color: wheat;
    margin: 2px 5px;
    padding: 2px 8px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

td {
    padding: 7px;
    text-align: center;
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

.intro {
    height: 30vh;
    background-color: #7effdb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    font-size: 50px;
}

.login {
    height: 70vh;
    background-color: #8c82fc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-size: 40px;
    padding: 30px;
}

.card form h4,
.card a h4 {
    font-size: 25px;
    color: wheat;
}

.highlight {
    background-color: #010a43;
    color: wheat;
    margin: 20px 50px;
    padding: 7px 30px;
    text-align: center;
    font-size: 25px;
    border: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}