* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    background-color: #ffe3ed;
}

.highlight {
    background-color: #010a43;
    color: gold;
    padding: 7px 30px;
    text-align: center;
    font-size: 25px;
    border: none;
}

.header {
    height: 30vh;
    background-color: #eb76ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header h1 {
    font-size: 50px;
    background-color: #eb76ff;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

table {
    background-color: #fbffb1;
}

t,
th,
td {
    color: black;
    padding: 7px;
    text-align: center;
    background-color: #fbffb1;
}

.login {
    height: 70vh;
    background-color: #8c82fc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-size: 40px;
    padding: 30px;
}

.card form h4,
.card a h4 {
    font-size: 25px;
    color: wheat;
}